$font: auto;
$digit-size: 20px;
$letter-size: 25px;
$digit-weigth: 500;
$letter-weight: 300;
$primary-color: #E8EAF6;
$secondary-color: #C5CAE9;
$brand-color: #1A237E;

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
button {
    background: none;
    border: none;
}
@mixin col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin setrow {
    align-items: center;
    justify-content: space-between;
}
.App {
    background-color: $primary-color;
    width: 100vw;
    height: 100dvh;
    @include col;
    justify-content: space-around;
}
#setting {
    width: 90%;
    height: 20%;
    @include row;
    @include setrow;
    border-radius: 20px;
    background-color: $secondary-color;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    padding: 10px;

    div {
        @include col;
        p {
            font-size: $digit-size;
            font-weight: $digit-weigth;
        }
        div {
            @include row;

            p {
                font-size: $digit-size;
                font-weight: $digit-weigth;
                margin: 10px;
            }
            button {
                width: auto;
            }
        }
    }
}
#counter {
    @include col;
    width: 90%;
    height: 40%;
    justify-content: space-around;
    align-content: center;
    //align-content: space-between;
    border-radius: 20px;
    background-color: $secondary-color;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    p {
        width: auto;
        height: auto;
        margin: 10% auto;
        text-align: center;
        font-weight: $digit-weigth;
    }
    #time-left {
        font-size: xxx-large;
        font-weight: $digit-weigth;
    }
}
#control {
    @include row;
    width: 90%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: $secondary-color;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);

    button {
        margin: 20px;
    }
}

@media (min-width: 425px) {
    .App {
        background-color: $primary-color;
        width: 425px;
        height: 100dvh;
        @include col;
        margin: auto auto;
        padding: auto 7vw;
        border-radius: 20px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    }
}
@media (min-width: 768px) {
    .App {
        background-color: $primary-color;
        width: 425px;
        height: 100dvh;
        @include col;
        margin: auto auto;
        padding: auto 7vw;
    }
}